body {
  font-family: 'Fira Code', monospace;
  overflow-y: scroll;
}

#about,
#projects,
#skills,
#contacts {
  border-radius: 25px;
  box-shadow: inset
  0 0 0px rgb(0, 0, 0),
  5px 5px 5px rgb(10, 10, 10),
  -5px -5px 5px rgb(134, 134, 134);
}

.card {
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 1rem;
}

::-webkit-scrollbar {
  display: block;
  width: 12px;
}

::-webkit-scrollbar-track:hover {
  border-radius: 8px;
  border: 1px solid #cacaca;
}


::-webkit-scrollbar-thumb:hover {
  border-radius: 8px;
  background-color: #cacaca;
}