/* 
font-family: 'Major Mono Display', monospace;
font-family: 'Roboto Mono', monospace;
font-family: 'VT323', monospace;
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
}

body {
  background-color: #292929;
  color: #fff;
}

header {
  background-image: url('https://i.imgur.com/au0F8qJ.jpg');
  background-size: cover;
  filter: drop-shadow(0px 20px 20px rgb(0, 0, 0));
}

h1,
h2 {
  text-shadow: 3px 3px 2px #808080;
}

h1 {
  font-family: 'Major Mono Display', monospace;
  line-height: 2.5rem; /* 40px */
  font-weight: bold;
}

h2 {
  font-family: 'Major Mono Display', monospace;
  font-size: 1.5rem; /* 24px */
  line-height: 1.75rem; /* 28px */
  font-weight: bold;
  margin: 0 2rem;
  text-align: center;
}

li {
  list-style: inside;
  list-style-type: circle;
}

.navLiItm {
  margin: 0 1em;
}

.navLiItm a.active {
  color: #7700ff;
  font-weight: bold;
  text-shadow: 2px 2px 2px #7789ff;
}

header li,
footer li {
  list-style: none;
}

.projectText::hover {
  display: flex;
}

[data-darkreader-inline-fill] {
  fill: #fff !important;
}

.group-hover\:opacity-25:hover,
.group-hover\:opacity-25:focus {
  opacity: 25%;
}

@media (hover: none) {
  .group-hover\:opacity-25:hover,
  .group-hover\:opacity-25:focus {
    opacity: 100% !important;
  }
}

