* {
  font-family: 'Nunito', 'Roboto Mono', monospace;
}

html {
  background-color: #f5f5f5;
}

:root {
  --color-p: #b39ddb;
  --color-g: #89c4a7;
  --color-y: #d6c17a;
}

li {
  list-style-type: none;
}
